@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Shared styles */
.display-flex {
    display: flex;
}

/* Dark 02 */
.text-gray {
    color: #424242;
}

/* Dark 03 */
.text-light-gray {
    color: #727272;
}

.bg-color {
    background-color: rgba(255, 144, 14, 0.1);
}

.btn {
    background-color: #FF900E;
    color: #ffffff;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: beige;
    color: #000000;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

main  > section {
    margin-top: 130px;
}

.section-title {
    font-size: 2.85rem;
    font-weight: 700;
}

/* Navbar Styles */

.navbar,
.banner {
    max-width: 1440px;
    margin: 0 auto;
}

.navbar {
    justify-content: space-between;
    align-items: center;
}

.brand {
    font-size: 3rem;
    font-weight: 700;
}

.nav-item {
    list-style: none;
    font-weight: 500;
}

.nav-link {
    text-decoration: none;
    margin-right: 30px;
}

/* Banner Styles */
.banner-content {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
}

.banner-img {
    width: 100%;
    padding-bottom: 15px;
}

/* Teams feature Styles */
.teams {
    align-items: center;
    gap: 100px;
}

.our-features {
    max-width: 530px;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

#quick-list {
    font-weight: 500;
}

.quick-features {
    color: #FF900E;
}

.feature-description {
    font-size: 1rem;
    margin-bottom: 32px;
}

/* Sm Responsive style */

@media screen and (max-width: 576px) {

    .navbar,
    .nav-links,
    .teams {
        flex-direction: column;
    }

    .team-img-container {
        grid-template-columns: repeat(1, 1fr)
    }

    .our-features {
        text-align: center;
    }
}

/* Md Responsive Styles */

@media screen and (min-width:576px) and (max-width:992px) {
    .teams {
        flex-direction: column;
        text-align: center;
    }
}


/* Features We enjoy Styles */

.your-features-all {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 54px;
    margin: 130px 240px;
}

.your-features-text{
    max-width: 530px;
    max-height: 750px;
}


.your-features-description, .feature-item-description {
    font-size: 1rem;
    font-weight: 400;
}

.your-feature-item {
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    padding: 30px 42px 30px 30px;
    margin-bottom: 15px;
    border-radius: 8px;
    text-align: left;
}

#features-title {
    border-left: 5px solid #FF900E;
    padding-left: 35px;
}

.feature-item-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 5px;
}

#experience-badge {
    font-size: 1.5rem;
    font-weight: 500;
    color: #ffffff;
    padding: 45px 42px;
    margin-left: -92px;
    margin-top: -92px;
}

#experience-badge:hover {
    background-color: beige;
    color: #000000;
}

#experience-year {
    font-size: 4rem;
    font-weight: 700;
}

.your-features-img img {
    width: 100%;
    height: 1050px;
}

@media screen and (max-width: 576px) {
    .your-features-all {
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
        gap: 50px;
        margin: 20px;
    }

    #experience-badge {
        margin-top: 20px;
    }

    .your-features-img img {
        width: 100%;
    }
}

@media screen and (min-width:576px) and (max-width:992px) {

    .your-features-all {
        grid-template-columns: 1fr;
        gap: 50px;
        text-align: center;
    }

    #experience-badge {
        margin-top: 20px;
    }
}



/* Some Facts Styles */

.some-facts {
    margin: 0 140px 0 140px;
}

.facts-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.fact-description {
    max-width: 530px;
    margin-bottom: 100px;
}

.fact-card {
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 80px;
}

.fact-number {
    font-size: 2.85rem;
    font-weight: 600;
    margin: 5px 0 10px 0;
}

.fact-name {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}

/* Facts Responsive */

@media screen and (max-width: 576px) {
    .facts-container {
        text-align: center;
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 24px;
    }

    .fact-card {
        margin-left: 0;
    }
}

@media screen and (min-width: 576px) and (max-width: 992px) {

    .facts-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }
}


/* Sponsors Styles */

.our-sponsors {
    margin: 130px 240px;
}

.sponsor-info {
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}

.sponsor-companies {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
}

.sponsor-companies img {
    filter: grayscale(100%);
}


@media screen and (max-width: 576px) {

    .our-sponsors {
        margin: 20px;
    }

    .sponsor-companies {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        gap: 50px;
        align-items: center;
    }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
    .sponsor-companies {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        align-items: center;
    }
}

/* Footer Styles */

footer {
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
    margin: 0 220px 100px 220px;
    height: 90px;
    padding: 40px 410px;
}

@media screen and (max-width: 576px) {

    footer {
        margin: 0;
        padding: 20px;
    }
}

@media screen and (min-width: 576px) and (max-width) {

    footer {
        text-align: left;
        margin: 0;
        padding: 20px;
    }
}